<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="static/css/MyDropDown.css">
</head>
<body>
  	<div class="sec-center">
	  	<input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
	  	<label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
  		<div class="section-dropdown">
  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
		  	<input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub"/>
		  	<label class="for-dropdown-sub" for="dropdown-sub">Dropdown Sub <i class="uil uil-plus"></i></label>
	  		<div class="section-dropdown-sub">
	  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
	  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
	  		</div>
  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
  		</div>
  	</div>
</body>
</html>