<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    .form-control:focus{
      border-color: #5cb85c;
      box-shadow: 0 0 0 .25rem rgba(92,184,92,.25);
      -webkit-box-shadow: box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)}</style>
    {% block title %}{% endblock %}
</head>
<body>
            {% set a = product.images.strip('"[').strip(']"').replace("'", "").replace(",", "").split() %}
    <div style="display: grid; align-items: stretch; grid-template-rows: 1fr 1fr 1fr 1fr 1fr;">
            {% for i in range(18) %}
            {% for index in range(a | length) %}
            <img src="{{ url_for('static', filename='img/' + a[index]) }}" data-index="{{ index }}"
                 class="thumbnail" alt="Product Image {{ index }}">
            {% endfor %}
            {% endfor %}
    </div>
</body>
</html>
